body {
    background-color: #ffffff
    }
    
    h1 {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        font-size: 64px;
        font-family: 'Gotham', sans-serif;
        font-weight: 700;
        font-style: normal;
        line-height: 72px;
        text-decoration: #135291;
        color: #135291;
    }

    @media (max-width: 700px)  {
        h1 {color: var(--color-guide-primary-primary-500, #135291);
            font-family: Gotham;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            text-align: center;
            width: 376px;
            height: 96px;
            margin: 32px auto 32px auto;
        }

        p {
            color: var(--color-guide-grey-grey-600, #353535);
            width: 303px;
            text-align: center;
            font-family: Gotham;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
            margin: auto;
        }

        .mobintro button {
            display: flex;
            height: 48px;
            padding: 16px 33.5px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 100px;
            background: var(--color-guide-primary-primary-500, #135291);
            margin: auto;
        }

        .mobpart h3 {
            color: var(--color-guide-grey-grey-600, #353535);
            text-align: center;
            
            /* Semibold/Header 3 Semibold */
            font-family: Gotham;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 120% */
        }

       
    }
    
    h3 { 
        text-align: center;
        color: #353535;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-top: 96px;
        /* /* font-family: 'Gotham', sans-serif; */
    }
    
    h2 {
        color: #135291;
    }
    
    span {
        color: #DAA728;
        display: contents;
    }



/* Title */

/* @media only screen and (min-width: 600px) { */
.titlebar {
    display: flex;
    width: 1512px;
    padding: 24px 72px;
    justify-content: space-between;
    align-items: center;
    background: var(--color-guide-primary-primary-800, #0A2D50);
    margin: auto;
    height: 96px;
    margin-top: 2px;
}
/* } */

.titlebarmb {
    text-align: center;
    display: flex;
flex-direction: column;
align-items: center;
gap: 14px;
color: var(--guide, #FFF);
text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

/* Semibold/Header 3 Semibold */
font-family: Gotham;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
padding-bottom: 14px;
}

.titlebarmb img {
    width: 78.4px;
    height: 23px;
}

/* @media only screen and (max-width: 600px) {
    .titlebar
    {background-color: transparent;
    }

    
} */



.titlebar ul {
    color: #FFF;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    text-decoration: none;
}

.titlebar li {
    text-decoration: none;
}

.titlebar button {
    border-radius: 100px;
    border: 2px solid var(--guide, #FFF);
    /* display: flex; */
    /* padding: 16px 33.5px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.header {
    display: flex;
    width: 1612px;
    padding: 24px 72px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}


/* Intro */

.container {
    width: 1368px;
}

.container .introbuttons {
    width: 604px;
    height: 48px;
}

.introbuttons .btn-1 {
    height: 48px;
    width: 232px;
    /* padding: 16px 33.5px; */
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 100px;
    background: var(--color-guide-primary-primary-500, #135291);
    margin-right: 20px;
}

.introbuttons .btn-2 {
    height: 48px;
    width: 232px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 100px;
    border: 2px solid var(--color-guide-grey-grey-700, #292929);
    color: #292929;
    background: transparent;
    margin-left: 20px;
}

.mobintro {
    width: 428px;
    height: 606px;
    margin: auto;
}

.mintro {
    margin: auto;
    width: 230px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
    
}

.mintro img {
    width: 226px;
height: 226px;
}


/* Our Partners */
.container2 {
    width: 1368px;
    margin: auto;
    text-align: center;
}
.container2a {
    background-color: #E7EEF4;
    /* display: flex; */
    width: 1368px;
    height: 104px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.container2b {
    width: 509px;
    height: 47px;
    position: relative;
    top: 29px;
    left: 430px;
    /* background-color: aqua; */
}

.propel {
    margin: 28px 309px 28px;
    position: relative;
    right: 310px;
}

.alt {
    margin: 28px 309px 28px;
    position: relative;
    bottom: 60px;
    left: 110px;
}

.mobpart {
    width: 428px;
    height: 706px;
    margin: auto;
}

.mobpart img {
    margin-top: 30px;
    margin-left: 35px;
}

.mobpart .container2a {
    width: 380px;
    height: 40px;
    flex-shrink: 0;
    background: var(--color-guide-primary-primary-50, #E7EEF4);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 36px;
}

/* MobStacks */

.mobstacks {
    width: 428px;
    height: 456px;
    margin: auto;
    padding-top: 24px;
    /* background-color: aqua; */
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
}

.mobstacks button {
    margin-top: 24px;
    margin-left: 153px;
    display: flex;
    height: 48px;
    padding: 16px 33.5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 40px;
    background: var(--color-guide-secondary-secondary-500, #DAA728);
    border-color: transparent;
    color: #fff;
}

.mobstacks h3 {
    color: var(--color-guide-grey-grey-600, #353535);
    text-align: center;
    
    /* Semibold/Header 3 Semibold */
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
}

.proddsgn {
    display: flex;
    width: 285px;
    height: 72px;
    padding: 28.237px 91.279px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.567px;
    border-radius: 13.134px;
    background: var(--color-guide-secondary-secondary-50, #FBF6EA);
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

.prodmgt {
    display: flex;
    width: 285px;
    height: 72px;
    padding: 28.237px 91.279px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.567px;
    border-radius: 13.134px;
    background: var(--color-guide-primary-primary-50, #E7EEF4);
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

.devmnt {
    display: flex;
    width: 285px;
    height: 72px;
    padding: 28.237px 91.279px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.567px;
    border-radius: 13.134px;
    background: var(--color-guide-secondary-secondary-50, #FBF6EA);
    margin: auto;
    margin-top: 24px;
    margin-bottom: 14px
}

.mobstacks h6 {
    color: #000;
text-align: center;
font-family: Gotham;
font-size: 13.134px;
font-style: normal;
font-weight: 900;
line-height: 15.76px; /* 120% */
margin-bottom: 0;
}

.mobstacks svg {
    width: 15.76px;
height: 15.76px;
margin-left: 40px;
margin-bottom: 10.51px;
}



.container2a .mpropel {
    position: relative;
    right: 50px;
}

.container2a .maltschool {
    position: relative;
    left: 40px;
}

.mobpart .mh3 {
    text-align: left;
    margin: 33.14px auto 24px 35px;
    color: var(--color-guide-grey-grey-600, #353535);
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    width: 240px;
    height: 48px;
}

.mobpart p {
    color: var(--color-guide-grey-grey-600, #353535);

    /* Regular/Body Regular */
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: left;
    width: 375px;
    height: 170px;
    margin-left: 35px;
}


/* More About PHA */
.container3 .mt-5 {
    margin-top: ($spacer * 3) !important;
}

.container3 .pt-5 {
    padding-top: ($spacer * 3) !important;
}

.container3 {
    margin: 140px auto;
    display: flex;
    text-align: left;
    width: 1368px;
    height: 700px;
}

.lmbuttons button {
    color: var(--color-guide-grey-grey-50, #EBEBEB);
    text-align: center;
    width: 232px;
    height: 48px;
    
    /* Semibold/Body Semibold */
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    display: flex;
    /* padding: 16px 33.5px; */
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 100px;
    background: var(--color-guide-primary-primary-500, #135291);
}

/* CTA */
.container4 {
    text-align: center;
    align-self: center;
    width: 1368px;
    margin: auto;
}

.container4a h3 {
    color: var(--color-guide-grey-grey-600, #353535);
    /* Display Semibold */
    font-family: Gotham;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px; /* 116.667% */
    margin-bottom: 24px;
}

.container4a p {
    color: var(--color-guide-grey-grey-600, #353535);
    text-align: center;
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 40px;
}

.container5 {
    margin: 0 auto;
    width: 1368px;
    height: 812px;
    margin-bottom: 40px;
}

.container5b {
    margin: 0 auto 116px;
    width: 1000px;
}

.container5 .card {
    width: 435px;
    height: 386px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--color-guide-primary-primary-200, #92AFCC);
}

.container5a h4 {
    color: var(--color-guide-grey-grey-600, #353535);
    text-align: center;
    font-family: Gotham;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    margin-bottom: 20px;
}

.container5a p {
    color: var(--color-guide-grey-grey-600, #353535);
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-top: 30px;
    text-align: left;
}

.container5b h4 {
    color: var(--color-guide-grey-grey-600, #353535);
    text-align: center;
    font-family: Gotham;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    margin-bottom: 20px;
}

.container5b p {
    color: var(--color-guide-grey-grey-600, #353535);
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-top: 40px;
    text-align: left;
}

.ctas img {
    float: left;
    margin-bottom: 0px;
}

.mctas img {
    float: left;
    margin-bottom: 0px;
    padding-top: 20.89px;
    padding-left: 20.89px;
    color: #135291;
    width: 70px;
    height: 70px;
}

.mctas h4 {
    color: var(--color-guide-grey-grey-600, #353535);
    text-align: center;
    
    /* Semibold/Header 3 Semibold */
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    padding-top: 30.89px;
    margin-left: -50px;
    position: relative;
    right: 20px;
}

.mctas p {
    color: var(--color-guide-grey-grey-600, #353535);

/* Regular/Label Regular */
font-family: Gotham;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
margin-top: 25.67px;
text-align: left;
margin-left: 20px;
width: 336px;
height: 120px;
margin-bottom: 20.87px;
}

.ctaMobile {
    width: 378px;
    height: 168px;
    margin: auto;
    margin-bottom: 24px;
    margin-top: 0;
}

.ctaMobile h3 {
    color: var(--color-guide-grey-grey-600, #353535);

/* Semibold/Header 3 Semibold */
font-family: Gotham;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
text-align: left;
margin-bottom: 24px;
}

.ctaMobile p {
    color: var(--color-guide-grey-grey-600, #353535);

/* Regular/Label Regular */
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-align: left;
    margin-left: 0;
    width: 378px;
    height: 120px;

}

.ctamobile2 {
    width: 380px;
    height: 1148px;
    margin: auto;
    
}


/* Events */

.container6 {
    margin: 40px auto;
    height: 100px;
    width: 1368px;
    text-align: center;
    margin-bottom: 40px;
}

.container6 h3 {
    color: var(--color-guide-grey-grey-600, #353535);
    text-align: center;
    
    /* Semibold/Header 1 Semibold */
    font-family: Gotham;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 62.5% */
    margin-bottom: 24px;
}

.container6 p {
    color: var(--color-guide-grey-grey-600, #353535);
    text-align: center;
    
    /* Regular/Header 3 Regular */
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 10px;
}

.container7 {
    background-color: #135291;
    width: 1512px;
    height: 801px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.container7a {
    width: 1368px;
    margin: auto;
    margin-top: 40px;
}

.container7c {
    font-family: 'Gotham', sans-serif;
    color: #ffffff;
    text-decoration: #ffffff;
    padding: auto 40px auto 40px;
}

.container7 img {
    width: 719px;
    height: 604px;
    border-radius: 40px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    position: relative;
    top: 90px;

}

container7c h3 {
    text-decoration: #ffffff;
}

container7d {
    margin-left: 300px;
}

.container7d h3 {
    width: 505px;
    color: var(--guide, #FFF);
    /* Display Semibold */
    font-family: Gotham;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px; /* 116.667% */
    margin-left: 100px;
    text-align: left;
}

.container7d p {
    width: 466px;
    color: var(--guide, #FFF);

/* Regular/Header 3 Regular */
font-family: Gotham;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
margin-left: 100px;
margin-top: 50px;
}

.container7d button {
    margin-left: 100px;
    display: flex;
    height: 48px;
    padding: 16px 33.5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 100px;
    background: var(--color-guide-secondary-secondary-500, #DAA728);
    width: 232px;
    border-color: transparent;
    color: var(--guide, #FFF);
    text-align: center;
    
    /* Semibold/Body Semibold */
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}


/* Our Courses */
.container8 {
    margin: 0 auto 140px auto;
    width: 1512px;
    height: 488px;
}

.container8a h5 {
    color: var(--color-guide-grey-grey-500, #3A3A3A);
    text-align: center;
    
    /* Semibold/Header 3 Semibold */
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    text-align: left;
}

.container8a p {
    width: 112px;
    height: 72;
    color: var(--color-guide-grey-grey-500, #3A3A3A);

    /* Regular/Body Regular */
    font-family: Gotham;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding-bottom: 10px;
}

.studycourses {
    /* background-color: aqua; */
    padding-bottom: 10px;
    padding: 5px 40px 10px 40px;
}

.studycourses {
    padding-bottom: 10px;
    padding: 5px 40px 10px 40px;
}

.studycourses {
    padding-bottom: 10px;
    padding: 5px 40px 10px 40px;
}

.study1 {
    width: 550px;
    height: 134px;
    border-radius: 10px;
    background-color: #E7EEF4;
    margin-bottom: 10px;
}

.study2 {
    width: 550px;
    height: 134px;
    border-radius: 10px;
    background-color: #f4e4bc;
    margin-bottom: 10px;
    position: relative;
    left: 120px;
}

.study3 {
    width: 550px;
    height: 134px;
    border-radius: 10px;
    background-color: #E7EEF4;
}

.studycourses button {
    position: relative;
    bottom: 50px;
    left: 370px;
    display: flex;
    width: 79px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: var(--color-guide-primary-primary-500, #135291);
    height: 40px;
    color:white;
    border-color: transparent;
}

.container8b h4 {
    color: #000;
    text-align: left;
    
    /* Semibold/Header 1 Semibold */
    font-family: Gotham;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 62.5% */
}

.container8b h2 {
    color: var(--color-guide-primary-primary-500, #135291);

    /* Display Semibold */
    font-family: Gotham;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px; /* 116.667% */
    width: 612px;
}

.container8b p {
    color: var(--color-guide-grey-grey-600, #353535);

    /* Regular/Header 3 Regular */
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 612px;
}


/* Testimonials */
.container9 {
    width: 1368px;
    height: 548px;
    margin: 0 auto;
}

.container9 h2 {
    text-align: center;
}

.container9a {
    width: 604px;
    height: 240;
}

.container9a img {
    float: left;
}

.container9a h5 p {
    
}

.testimonial {
    margin-left: 200px;
    /* background-color: aqua; */
    padding: 15px 27px;
    display: flex;
    height: 240px;
    padding: 15px 27px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    text-align: left;
    width: 408px;
    height: 240px;
    margin-bottom: 54px;
}

.colm {
    margin-right: 140px;
}

.col1 {
    border-radius: 8px;
    background: var(--color-guide-secondary-secondary-50, #FBF6EA);
}

.col2 {
    border-radius: 8px;
    background: var(--color-guide-secondary-secondary-50, #E7EEF4);
}


/* Footer */

.footer {
    background-color: #0A2D50;
    margin: 200px auto 1px;
    height: 380px;
    width: 1512px;
    text-decoration: #ffffff;
}

.Column2 {
    position: relative;
    top: 76px;
    left: 72px;
}

.linkbox {
    width: 546px;
    height: 248px;
    position: relative;
    left: 425px;
    bottom: 40px;
    text-align: left;
}

.navigation {
    width: 110px;
    height: 248px;
    position: relative;
    left: 0px;
    color: #FFF;
    /* Regular/Body Regular */
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: left;
}

.navigation a {
    text-decoration: none;
    color: #FFF;
}

.pha a {
    text-decoration: none;
    color: #FFF;
}

.legal a {
    text-decoration: none;
    color: #FFF;
}


.pha {
    width: 193px;
    height: 248px;
    position: relative;
    left: 176px;
    bottom: 248px;
    color: #FFF;
    /* Regular/Body Regular */
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.legal {
    width: 111px;
    height: 136px;
    position: relative;
    left: 435px;
    bottom: 496px;
    color: #FFF;
    /* Regular/Body Regular */
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.subbox {
    width: 405px;
    height: 92px;
    position: relative;
    bottom: 276px;
    left: 1034px;
}

.subbox p {
    color: #FFF;
    /* Regular/Body Regular */
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.subbox input {
    width: 405px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--guide, #FFF);
}

.subbox button {
    display: inline-flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--color-guide-primary-primary-500, #135291);
    border-color: transparent;
    color: var(--color-guide-primary-primary-50, #E7EEF4);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    position: relative;
    bottom: 53.1px;
    left: 305px;
}


/* About Us */

.container10 {
    width: 1368px;
    height: 320px;
    margin: 61px auto;
    text-align: left;
    margin-bottom: 300px;
}

.container10a h1 {
    color: var(--color-guide-primary-primary-500, #135291);
font-family: Gotham;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 72px; /* 112.5% */
width: 785px;
}

.container10a .p1 {
    width: 785px;
    color: var(--color-guide-grey-grey-600, #353535);
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.container10a .p2 {
    width: 785px;
    color: var(--color-guide-grey-grey-600, #353535);
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}


.container10b img {
    width: 500px;
    height: 500px;
    position: relative;
    left: 50px;
}


/* Mission and Vision */

.container11 {
    width: 1368px;
    height: 320px;
    margin: 0 auto;
    text-align: left;
    margin-top: 200px;
    margin-bottom: 400px;
}

.container11a {
    margin-bottom: 200px;
    padding-bottom: 200px;
}

.container11b {
    width: 668px;
    height: 504px;
}

.container11b h3 {
    color: var(--color-guide-grey-grey-600, #353535);
    font-family: Gotham;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 100% */
    text-align: left;
}

.container11b p {
    color: var(--color-guide-grey-grey-600, #353535);
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    align-self: stretch;
}


/* Our Team */


.container12 {
    width: 1368px;
    height: 320px;
    margin: 40px auto;
    text-align: center;
}


.container12 h2 p {
    width: 1134px;
    height: 120px;
}

.container12 h2 {
    color: var(--color-guide-grey-grey-600, #353535);
    font-family: Gotham;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 66.667% */
    height: 32px;
    margin-bottom: 24px;
}

.container12 p {
    color: var(--color-guide-grey-grey-600, #353535);
    text-align: center;
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 80px;
}

.container12 .social {
    margin-right: 22px;
}

.container12a {
    margin-bottom: 100px;
}

.cards {
    width: 435px;
    height: 493px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 2px solid var(--color-guide-primary-primary-400, #4275A7);
    background: var(--guide, #FFF);
    margin: auto;
}

.cardimg {
    position: relative;
    bottom: 50px;
}


/* Volunteer */

.container13 {
    width: 1368px;
    height: 867px;
    margin: 80px auto;
    text-align: left;
    margin-bottom: 300px;
    margin-top: 1200px;
    
}

.container13a {
    width: 552px;
    height: 280px;
    margin-right: 148px;
}

.container13a h3 {
    color: var(--color-guide-grey-grey-600, #353535);
    font-family: Gotham;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 100% */
    text-align: left;
    margin-top: 0;
}

.container13a p {
    align-self: stretch;
    color: var(--color-guide-grey-grey-600, #353535);
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.container13b {
    width: 668px;
    height: 867px;
    border-radius: 8px;
    background: var(--color-guide-primary-primary-500, #135291);
    text-decoration: #fff;
    padding-top: 48px;
    padding-left: 24px;
}

.container13b p {
    color: #FFFFFF;
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 0;
}

.container13b .info {
    margin-bottom: 34px;
}

.container13b button {
    color: var(--color-guide-grey-grey-600, #353535);
text-align: center;

/* Semibold/Body Semibold */
font-family: Gotham;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
display: flex;
height: 48px;
padding: 16px 33.5px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 100px;
background: var(--guide, #FFF);
margin-top: 40.27px;
}

.container13b input {
    width: 604px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--color-guide-primary-primary-500, #135291);
    border: 1px solid var(--light-primary-contrast, #FFF);
    margin-bottom: 33px;
    margin-top: 0;
}

.container13b textarea {
    width: 604px;
    height: 174px;
    border-radius: 8px;
    background: var(--color-guide-primary-primary-500, #135291);
    border: 1px solid var(--light-primary-contrast, #FFF);
    padding-left: 24px;
}


/* Contact Us */
.container18 {
    margin: 116px auto;
    width: 1368px;
    height: 671px;
}

.container18a {
    width: 551px;
    height: 632px;
}

.container18a input {
    margin-top: 0;
    margin-bottom: 24px;
    width: 519px;
    height: 56px;
}

.container18a textarea {
    width: 519px;
    height: 120px;
    margin-bottom: 32px;
}

.container18a button {
    display: flex;
padding: 16px 198px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 40px;
background: var(--color-guide-primary-primary-500, #135291);
color: #FFF;
font-family: Gotham;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px*/
}

.container18b img {
    border-radius: 12px;
    width: 583px;
    height: 656px;
    flex-shrink: 0;
    margin-left: 234px;
}

.container18a h3 {
    text-align: left;
    color: var(--color-guide-primary-primary-500, #135291);
    Display: Semibold;
    font-family: Gotham;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px; /* 116.667% */
    margin-top: 0;
}

.container18a p {
    color: var(--color-guide-grey-grey-600, #353535);
    /* Regular/Header 3 Regular */
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 0;
    margin-top: 0;
}



/* Contact Us Cards */

.container19 {
    width: 1513px;
    height: 420px;
    background: #135291;
    margin: auto;
}

.connect {
    width: 503.33px;
    height: 420px;
    background: var(--color-guide-primary-primary-50, #E7EEF4);
    text-align: center;
}

.call {
    width: 503.33px;
    height: 420px;
    background: var(--color-guide-primary-primary-50, #E7EEF4);
    margin-right: 1px;
    position: relative;
    left: 505.33px;
    bottom: 420px;
    text-align: center;
}

.sub {
    width: 503.33px;
    height: 420px;
    background: var(--color-guide-primary-primary-50, #E7EEF4);
    margin-right: 1px;
    position: relative;
    left: 1010px;
    bottom: 840px;
    text-align: center;
}

.subbox2 {
    width: 405px;
    height: 92px;
    position: relative;
    margin: auto;
    position: relative;
}

.subbox2 input {
    border-radius: 8px;
    border: transparent;
    height: 56px;
}

.subbox2 button {
    width: 122px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    border: transparent;
    background: var(--color-guide-primary-primary-500, #135291);
    margin: auto;
    position: relative;
    bottom: 56px;
    left: 135px;
    color: var(--color-guide-primary-primary-50, #E7EEF4);

/* Button 16 */
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}

.container19 .cardsvg {
    border: 2px;
    margin: 20px;
    border-radius: 8px;
    background: var(--color-guide-primary-primary-600, #114B84);
    padding: 20px;
    width: 80px;
    height: 80px;
    margin-top: 116px;
}

.container19 p {
    color: var(--color-guide-grey-grey-600, #353535);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.container19 h4 {
    color: var(--color-guide-grey-grey-600, #353535);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}



/* Donations */

.container20 {
    width: 1513px;
    height: 420px;
    margin: auto;
    text-align: center;
    margin-bottom: 1400px;
    margin-top: 100px;
}

.Container20 h1 p {
    color: #353535;
    font-family: Aeonik;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.container20 p {
    color: var(--color-guide-grey-grey-600, #353535);
    text-align: center;
    font-family: Gotham;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    width: 1232px;
    margin: 32px auto 72px auto;
}

.donatebox {
    display: inline-flex;
    padding: 125px 117px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: var(--color-guide-primary-primary-50, #E7EEF4);
    height: 547px;
    width: 902px;
    margin-top: 50px;
    text-align: center;
}

.moneybox {
    display: flex;
    width: 668px;
    height: 83px;
    padding: 25px 0px;
    margin-top: 72px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid var(--color-guide-primary-primary-500, #135291);
    background: var(--guide, #FFF);
}

.moneybox p {
    color: var(--color-guide-grey-grey-600, #353535);
    text-align: center;
    
    /* Semibold/Header 1 Semibold */
    font-family: Gotham;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 62.5% */
    display: flex;
    width: 57px;
    height: 33px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: 25px 0 25px 0;
}

.donatebox button  {
    display: flex;
    padding: 16px 198px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: var(--color-guide-primary-primary-500, #135291);
    margin-top: 72px;
    color: #FFF;
    text-align: center;
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
}

.container20 h2 {
    color: var(--color-guide-grey-grey-900, #181818);
text-align: center;
font-family: Gotham;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 80% */
width: 551px;
text-align: center;
margin: 250px auto 441px auto;
}



/* FAQ */

.container15 {
    width: 1368px;
    height: 578px;
    margin: 70px auto;
}

.container15 img {
    margin-left: 229px;
}

.container15a h2 {
    color: var(--color-guide-primary-primary-500, #135291);
    font-family: Gotham;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 112.5% */
    width: 532px;
    height: 216px;
    margin-bottom: 32px;
}

.container15a p {
    color: #000;
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.container15b {
    /* width: 500px;
    height: 578px; */
    align-items: center;
    padding-left: 50px;
}

.container15a button {
    display: flex;
    width: 197px;
    height: 50px;
    padding: 30px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: var(--color-guide-primary-primary-500, #135291);
    margin-top: 21px;
    color: #FFF;
    text-align: center;
    
    /* Semibold/Body Semibold */
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.container15a svg {
    position: relative;
    bottom: 460px;
    z-index: 1;
    width: 382.942px;
    height: 561.648px;
    transform: rotate(-6.429deg);
    stroke-width: 13.925px;
    stroke: var(--color-guide-primary-primary-100, #B6C9DD);
    opacity: 0.5;
}

.container15a .dot {
    width: 146.214px;
height: 167.102px;
transform: rotate(12.659deg);
stroke-width: 13.925px;
stroke: #DFDBDB;
opacity: 0.5;
position: relative;
right: 50px;
}


.container16 {
    width: 1368px;
    height: 578px;
    margin: auto;
    padding-left: 0;
    margin-bottom: 700px;
}

.container16 h5 {
    color: var(--color-guide-grey-grey-600, #353535);
    text-align: left;
    font-family: Gotham;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    margin-bottom: 18px;
}

.container16 p {
    color: var(--color-guide-grey-grey-600, #353535);

    /* Regular/Header 3 Regular */
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 48px;
    width: 100%;
    height: auto;
}

table {
    border-collapse: separate;
    border-spacing: 115px 0;
}


.container17 {
    display: flex;
    width: 1163px;
    height: 252px;
    padding: 52px 64px;
    align-items: center;
    gap: 140px;
    border-radius: 20px;
    background: var(--color-guide-primary-primary-50, #E7EEF4);
    margin: auto;
}

.container17a {
    width: 714px;
    height: 148px;
}

.container17a h2 {
    color: var(--color-guide-primary-primary-500, #135291);
    font-family: Gotham;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 66.667% */
    margin-bottom: 20px;
}

.container17a p {
    color: var(--color-guide-grey-grey-600, #353535);
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.container17b button {
    display: flex;
    width: 197px;
    height: 50px;
    padding: 30px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: var(--color-guide-primary-primary-500, #135291);
    color: #FFF;
    text-align: center;
    
    /* Semibold/Body Semibold */
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    position: relative;
    bottom: 220px;
    left: 800px;
}

/* Privacy Policy */

.container14 {
    width: 1368px;
    height: 1954px;
    flex-shrink: 0;
    color: #1E1E1E;
    font-family: Gotham;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
    margin: 40px auto 900px auto;
}

.container14 h2 {
    color: var(--color-guide-primary-primary-800, #0A2D50);

    /* Display Semibold */
    font-family: Gotham;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px; /* 116.667% */
    text-align: center;
    margin-top: 124px;
    margin-bottom: 84px;
}


/* Blog Page */

.container21 {
    width: 1368px;
    height: 420px;
    margin: auto;
}

.container21 img {
    margin-top: 20px;
}

.container21 h1 {
    margin-top: 140px;
    color: var(--color-guide-grey-grey-600, #353535);
font-family: Gotham;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 507px;
}


.container21 p {
    color: var(--color-guide-grey-grey-600, #353535);

/* Regular/Header 3 Regular */
font-family: 'Gotham', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}

/* Blogs */

.container22 {
    width: 1364px;
    height: 2775px;
    margin: auto;
    margin-top: 200px;
    background-color: red;
    padding-top: 44px;
}


.container22a {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid var(--color-guide-grey-grey-300, #7B7B7B);
    background-color: aqua;
    width: 1338px;
    height: 364px;
    margin-left: 15px;
    margin-bottom: 26.57px;
}

.container22a img {
    width: 375.954px;
    height: 311.927px;
    flex-shrink: 0;
    margin-top: 26.27px;
}

.container22a h3 {
    color: var(--color-guide-grey-grey-600, #353535);
    font-family: Gotham;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 118.75% */
    width: 699.372px;
    text-align: left;
    margin-left: 30px;
    margin-top: 26.27px;
}

/* Blog1 */

.container23 {
    width: 1368px;
    height: 1799px;
    margin: 156px auto 328px auto;
}

.container23 h3 {
    color: var(--color-guide-grey-grey-600, #353535);
    font-family: Gotham;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 118.75% */
    width: 699.372px;
    text-align: left;
    margin-left: 30px;
    margin-top: 26.27px;
}





















.inputcontactus {
    width: 519px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--color-guide-primary-primary-100, #B6C9DD);
}

.textareacontactus {
    width: 519px;
    height: 152px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--color-guide-primary-primary-100, #B6C9DD);
}





p strong {
    position: relative;
    bottom: 200px;
    
}
.line1 {
    background: #135291;
    width: 1px;
    height: 420.011px;
    position: relative;
    bottom: 420px;
    left: 500px;
}

.line2 {
    background: #135291;
    width: 1px;
    height: 420.011px;
    position: relative;
    bottom: 460px;
    left: 500px;
}














.fw-bold 

.d-flex {
    background-color: blue;
}

.nav {
    align-items: center!important;
}

.header {
    background-color: #0A2D50;
    margin: 1px auto;
    padding: 24px 72px;
    width: 1368px;
    /* height: 48px; */
}

.intro {
    background-color: #ffffff;
}




.Row {
    display: table;
    width: 100%; /*Optional*/
    height: 380px;
    table-layout: fixed; /*Optional*/
}
.Column {
    display: table-cell;
}

.Column1 {
    text-align: left;
    display: table-cell;
    width: 190px;
}

.Column2 {
    display: table-cell;
    width: 400px;
}

input {
    width: 405px;
    height: 56px;
}


